{% extends 'core/base.html'%}

{% load static %}

{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox
/3.3.5/jquery.fancybox.min.css" />
{% endblock %}

{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.
js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fa
ncybox.min.js"></script>
{% endblock %}

{% block contenido %}

  <main>
    <section id="form">
      <div class="container my-4" >
        <h1 class="text-center">INTERNET MOBILE</h1>
        <div class="row">
          <div class="col-12 col-sm-4 text-center">
            <div class="card" style="width: 18rem;">
              <img class="img-fluid shadow-lg w-100" src="{% static 'core/'%}Solemne1/images/plans.png" alt="planS">
              <div class="card-body">
                <a href="{% url 'registro_usuario'%}" id="boton1" class="btn btn-primary">REGISTRARSE AHORA</a>

              </div>
            </div>
          </div>
          <div class="col-12 col-sm-4 text-center">
            <div class="card" style="width: 18rem;">
              <img class="img-fluid shadow-lg w-100" src="{% static 'core/'%}Solemne1/images/planM.png" alt="planM">
              <div class="card-body">
                <a href="{% url 'registro_usuario'%}" id="boton1" class="btn btn-primary">REGISTRARSE AHORA</a>

              </div>
            </div>
          </div>
          <div class="col-12 col-sm-4 text-center">
            <div class="card" style="width: 18rem;">
              <img class="img-fluid shadow-lg w-100" src="{% static 'core/'%}Solemne1/images/planL.png" alt="planL">
              <div class="card-body">
                <a href="{% url 'registro_usuario'%}" id="boton1" class="btn btn-primary">REGISTRARSE AHORA</a>

              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      </div>
    </section>
  </main>


  <main>
    <section id="form">
     
      <div class="container my-4" >
        <h1 class="text-center">TELEFONIA HOGAR</h1>
        <div class="row">
          <div class="col-12 col-sm-4 text-center">
            <div class="card" style="width: 18rem;">
              <img class="img-fluid shadow-lg w-100" src="{% static 'core/'%}Solemne1/images/telefoniahogar1.png" alt="300m">
              <div class="card-body">
                <a href="{% url 'registro_usuario'%}" id="boton1" class="btn btn-primary">REGISTRARSE AHORA</a>

              </div>
            </div>
          </div>
          <div class="col-12 col-sm-4 text-center">
            <div class="card" style="width: 18rem;">
              <img class="img-fluid shadow-lg w-100" src="{% static 'core/'%}Solemne1/images/telefoniahogar2.png" alt="600m">
              <div class="card-body">
                <a href="{% url 'registro_usuario'%}" id="boton1" class="btn btn-primary">REGISTRARSE AHORA</a>

              </div>
            </div>
          </div>
          <div class="col-12 col-sm-4 text-center">
            <div class="card" style="width: 18rem;">
              <img class="img-fluid shadow-lg w-100" src="{% static 'core/'%}Solemne1/images/telefoniahogar3.png" alt="900m">
              <div class="card-body">
                <a href="{% url 'registro_usuario'%}" id="boton1" class="btn btn-primary">REGISTRARSE AHORA</a>

              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      </div>
    </section>
  </main>



  <main>
    <section id="form">
     
      <div class="container my-4">
        <h1 class="text-center">INTERNET HOGAR</h1>
        <div class="row">
          <div class="col-12 col-sm-4 text-center">
            <div class="card" style="width: 18rem;">
              <img class="img-fluid shadow-lg w-100" src="{% static 'core/'%}Solemne1/images/300m.png" alt="300m">
              <div class="card-body">
                <a href="{% url 'registro_usuario'%}" id="boton1" class="btn btn-primary">REGISTRARSE AHORA</a>

              </div>
            </div>
          </div>
          <div class="col-12 col-sm-4 text-center">
            <div class="card" style="width: 18rem;">
              <img class="img-fluid shadow-lg w-100" src="{% static 'core/'%}Solemne1/images/600m.png" alt="600m">
              <div class="card-body">
                <a href="{% url 'registro_usuario'%}" id="boton1" class="btn btn-primary">REGISTRARSE AHORA</a>

              </div>
            </div>
          </div>
          <div class="col-12 col-sm-4 text-center">
            <div class="card" style="width: 18rem;">
              <img class="img-fluid shadow-lg w-100" src="{% static 'core/'%}Solemne1/images/900m.png" alt="900m">
              <div class="card-body">
                <a href="{% url 'registro_usuario'%}" id="boton1" class="btn btn-primary">REGISTRARSE AHORA</a>

              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      </div>
    </section>
  </main>

{% endblock %}













  




</body>

</html>